/* =============== Globals =============== */
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(180deg, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    font-family: 'Kumbh Sans', sans-serif;
    min-height: 100vh;
}

/* =============== Images =============== */

.illustration {
    content: url("images/illustration-woman-online-mobile.svg");
}

.bg-pattern {
    content: url("images/bg-pattern-mobile.svg");
}

.illustration-box {
    display: none;
}

/* =============== Typographie =============== */
.answer {
    font-size: 12px;
}

.question {
    color: hsl(237, 12%, 33%);
    font-size: 13px;
}

.answer {
    color: hsl(240, 6%, 50%);
}

.card-title {
    color: hsl(238, 29%, 16%);
}

/* =============== Spacing =============== */
.card-container {
    margin: 147px 23px;
}

.card-title {
    padding-top: 25px;
}

.questions-container {
    margin-top: 30px;
    padding: 0 23px 48px;
}

.arrow {
    /* transform: rotate(180deg); */
    width: 9px;
    height: 8px;
}

.answer {
    margin-top: 15px;
    padding-right: 45px;
}

.divider {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* =============== Sizing =============== */
.divider {
    height: 1px;
}

/* =============== Positioning =============== */
.card-container {
    position: relative;
    text-align: center;
}

.image-container {
    position: relative;
    top: -107px;
    left: 0;
    right: 0;
}

.illustration {
    position: absolute;
    transform: translateX(-27px);
    z-index: 1;
}

.bg-pattern {
    position: relative;
    top: 110px;
    z-index: 0;
}

.questions-container {
    text-align: left;
}

.question-content {
    position: relative;
}

.question-line {
    align-items: center;
}

/* =============== Styling =============== */
.card-container {
    background-color: #fff;
    border-radius: 20px;
    /* box-shadow: ; */
}

.image-container {
    display: block;
}

.question-line {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.divider {
    background-color: hsl(240, 5%, 91%);
    display: block;
}

.strong {
    font-weight: 900;
}

/* =============== Visibility =============== */
.hidden {
    visibility: hidden;
    opacity: 0;
    height: 0;
}

/* =============== Media Queries =============== */
@media (min-width: 1024px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: left;
        margin: 0;
        width: 920px;
    }

    .card-title {
        padding-top: 70px;
    }
    
    .questions-container {
        padding: 0 110px 83px 0px;
    }

    .image-container {
        top: 0;
    }

    .image-content {
        position: relative;
        height: 100%;
    }

    .image-underlay {
        transform: translate(-76px, 84px);
    }

    .illustration-holder {
        height: 100%;
        overflow: hidden;
    }

    .illustration {
        content: url("images/illustration-woman-online-desktop.svg");
        transform: none;
    }

    .illustration-box {
        content: url("images/illustration-box-desktop.svg");
        display: initial;
        position: absolute;
        top: 220px;
        z-index: 1;
        left: -92px;
    }

    .bg-pattern {
        content: url("images/bg-pattern-desktop.svg");
        position: absolute;
        top: -385px;
        left: -494px;
    }
}

/* =============== Animations =============== */
.slide-in {
    animation: slide-in 200ms ease-in-out forwards;
}
.slide-out {
    animation: slide-out 200ms ease-in-out forwards;
}
.box-animation {
    transform-origin: center 30%;
    -webkit-animation: anima-box 3600ms linear infinite both;
    animation: anima-box 3600ms linear infinite both;
}

@keyframes slide-in {
    from {
        visibility: hidden;
        opacity: 0;
        height: 0;    
    }

    1% {
        visibility: visible;
        opacity: 0;
        height: 0;    
    }

    to {
        visibility: visible;
        height: 4em;
        opacity: 1;
    }
}

@keyframes slide-out {
    from {
        visibility: visible;
        opacity: 1;
        height: 4em;
    }

    99% {
        visibility: hidden;
    }

    to {
        visibility: hidden;
        opacity: 0;
        height: 0;
    }
}

    
/* Generated with Bounce.js. Edit at http://bouncejs.com#%7Bl%3A1%2Cs%3A%5B%7BT%3A%22r%22%2Ce%3A%22b%22%2Cd%3A2000%2CD%3A0%2Cf%3A0%2Ct%3A360%2Cs%3A1%2Cb%3A0%7D%2C%7BT%3A%22t%22%2Ce%3A%22b%22%2Cd%3A1000%2CD%3A1300%2Cf%3A%7Bx%3A0%2Cy%3A0%7D%2Ct%3A%7Bx%3A0%2Cy%3A-50%7D%2Cs%3A1%2Cb%3A2%7D%2C%7BT%3A%22t%22%2Ce%3A%22b%22%2Cd%3A2000%2CD%3A1600%2Cf%3A%7Bx%3A0%2Cy%3A0%7D%2Ct%3A%7Bx%3A0%2Cy%3A50%7D%2Cs%3A1%2Cb%3A5%7D%5D%7D */

@-webkit-keyframes anima-box {
    0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    3.5% { -webkit-transform: matrix3d(-0.745, 0.667, 0, 0, -0.667, -0.745, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-0.745, 0.667, 0, 0, -0.667, -0.745, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    6.95% { -webkit-transform: matrix3d(-0.724, -0.689, 0, 0, 0.689, -0.724, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-0.724, -0.689, 0, 0, 0.689, -0.724, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    10.45% { -webkit-transform: matrix3d(0.132, -0.991, 0, 0, 0.991, 0.132, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.132, -0.991, 0, 0, 0.991, 0.132, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    13.9% { -webkit-transform: matrix3d(0.648, -0.762, 0, 0, 0.762, 0.648, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.648, -0.762, 0, 0, 0.762, 0.648, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    20.85% { -webkit-transform: matrix3d(0.955, -0.297, 0, 0, 0.297, 0.955, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.955, -0.297, 0, 0, 0.297, 0.955, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    27.81% { -webkit-transform: matrix3d(0.995, -0.099, 0, 0, 0.099, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.995, -0.099, 0, 0, 0.099, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    36.01% { -webkit-transform: matrix3d(1, -0.024, 0, 0, 0.024, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, -0.024, 0, 0, 0.024, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    36.11% { -webkit-transform: matrix3d(1, -0.023, 0, 0, 0.023, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, -0.023, 0, 0, 0.023, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    38.22% { -webkit-transform: matrix3d(1, -0.016, 0, 0, 0.016, 1, 0, 0, 0, 0, 1, 0, -0.425, -26.81, 0, 1); transform: matrix3d(1, -0.016, 0, 0, 0.016, 1, 0, 0, 0, 0, 1, 0, -0.425, -26.81, 0, 1); }
    39.28% { -webkit-transform: matrix3d(1, -0.013, 0, 0, 0.013, 1, 0, 0, 0, 0, 1, 0, -0.477, -36.878, 0, 1); transform: matrix3d(1, -0.013, 0, 0, 0.013, 1, 0, 0, 0, 0, 1, 0, -0.477, -36.878, 0, 1); }
    40.31% { -webkit-transform: matrix3d(1, -0.011, 0, 0, 0.011, 1, 0, 0, 0, 0, 1, 0, -0.466, -44.064, 0, 1); transform: matrix3d(1, -0.011, 0, 0, 0.011, 1, 0, 0, 0, 0, 1, 0, -0.466, -44.064, 0, 1); }
    41.37% { -webkit-transform: matrix3d(1, -0.009, 0, 0, 0.009, 1, 0, 0, 0, 0, 1, 0, -0.419, -48.991, 0, 1); transform: matrix3d(1, -0.009, 0, 0, 0.009, 1, 0, 0, 0, 0, 1, 0, -0.419, -48.991, 0, 1); }
    41.71% { -webkit-transform: matrix3d(1, -0.008, 0, 0, 0.008, 1, 0, 0, 0, 0, 1, 0, -0.4, -50.126, 0, 1); transform: matrix3d(1, -0.008, 0, 0, 0.008, 1, 0, 0, 0, 0, 1, 0, -0.4, -50.126, 0, 1); }
    42.42% { -webkit-transform: matrix3d(1, -0.007, 0, 0, 0.007, 1, 0, 0, 0, 0, 1, 0, -0.357, -51.886, 0, 1); transform: matrix3d(1, -0.007, 0, 0, 0.007, 1, 0, 0, 0, 0, 1, 0, -0.357, -51.886, 0, 1); }
    44.34% { -webkit-transform: matrix3d(1, -0.005, 0, 0, 0.005, 1, 0, 0, 0, 0, 1, 0, -0.244, -53.609, 0, 1); transform: matrix3d(1, -0.005, 0, 0, 0.005, 1, 0, 0, 0, 0, 1, 0, -0.244, -53.609, 0, 1); }
    44.44% { -webkit-transform: matrix3d(1, -0.004, 0, 0, 0.004, 1, 0, 0, 0, 0, 1, 0, -0.238, -53.616, 0, 1); transform: matrix3d(1, -0.004, 0, 0, 0.004, 1, 0, 0, 0, 0, 1, 0, -0.238, -53.616, 0, 1); }
    44.51% { -webkit-transform: matrix3d(1, -0.004, 0, 0, 0.004, 1, 0, 0, 0, 0, 1, 0, -0.233, -53.171, 0, 1); transform: matrix3d(1, -0.004, 0, 0, 0.004, 1, 0, 0, 0, 0, 1, 0, -0.233, -53.171, 0, 1); }
    46.67% { -webkit-transform: matrix3d(1, -0.003, 0, 0, 0.003, 1, 0, 0, 0, 0, 1, 0, -0.082, -31.15, 0, 1); transform: matrix3d(1, -0.003, 0, 0, 0.003, 1, 0, 0, 0, 0, 1, 0, -0.082, -31.15, 0, 1); }
    48.84% { -webkit-transform: matrix3d(1, -0.001, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, -0.01, -6.944, 0, 1); transform: matrix3d(1, -0.001, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, -0.01, -6.944, 0, 1); }
    50.07% { -webkit-transform: matrix3d(1, -0.001, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, 0.003, 3.356, 0, 1); transform: matrix3d(1, -0.001, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, 0.003, 3.356, 0, 1); }
    51.06% { -webkit-transform: matrix3d(1, -0.001, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, 0.007, 9.081, 0, 1); transform: matrix3d(1, -0.001, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, 0.007, 9.081, 0, 1); }
    53.23% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.004, 13.85, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.004, 13.85, 0, 1); }
    55.56% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 10.573, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 10.573, 0, 1); }
    55.63% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 10.386, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 10.386, 0, 1); }
    55.79% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 9.982, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 9.982, 0, 1); }
    58.29% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 3.084, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 3.084, 0, 1); }
    60.85% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.971, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.971, 0, 1); }
    63.35% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -3.459, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -3.459, 0, 1); }
    63.89% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -3.401, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -3.401, 0, 1); }
    68.41% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.732, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.732, 0, 1); }
    73.42% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.87, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.87, 0, 1); }
    83.54% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.218, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.218, 0, 1); }
    93.66% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.055, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.055, 0, 1); }
    100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}

@keyframes anima-box {
    0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    3.5% { -webkit-transform: matrix3d(-0.745, 0.667, 0, 0, -0.667, -0.745, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-0.745, 0.667, 0, 0, -0.667, -0.745, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    6.95% { -webkit-transform: matrix3d(-0.724, -0.689, 0, 0, 0.689, -0.724, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-0.724, -0.689, 0, 0, 0.689, -0.724, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    10.45% { -webkit-transform: matrix3d(0.132, -0.991, 0, 0, 0.991, 0.132, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.132, -0.991, 0, 0, 0.991, 0.132, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    13.9% { -webkit-transform: matrix3d(0.648, -0.762, 0, 0, 0.762, 0.648, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.648, -0.762, 0, 0, 0.762, 0.648, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    20.85% { -webkit-transform: matrix3d(0.955, -0.297, 0, 0, 0.297, 0.955, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.955, -0.297, 0, 0, 0.297, 0.955, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    27.81% { -webkit-transform: matrix3d(0.995, -0.099, 0, 0, 0.099, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.995, -0.099, 0, 0, 0.099, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    36.01% { -webkit-transform: matrix3d(1, -0.024, 0, 0, 0.024, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, -0.024, 0, 0, 0.024, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    36.11% { -webkit-transform: matrix3d(1, -0.023, 0, 0, 0.023, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, -0.023, 0, 0, 0.023, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    38.22% { -webkit-transform: matrix3d(1, -0.016, 0, 0, 0.016, 1, 0, 0, 0, 0, 1, 0, -0.425, -26.81, 0, 1); transform: matrix3d(1, -0.016, 0, 0, 0.016, 1, 0, 0, 0, 0, 1, 0, -0.425, -26.81, 0, 1); }
    39.28% { -webkit-transform: matrix3d(1, -0.013, 0, 0, 0.013, 1, 0, 0, 0, 0, 1, 0, -0.477, -36.878, 0, 1); transform: matrix3d(1, -0.013, 0, 0, 0.013, 1, 0, 0, 0, 0, 1, 0, -0.477, -36.878, 0, 1); }
    40.31% { -webkit-transform: matrix3d(1, -0.011, 0, 0, 0.011, 1, 0, 0, 0, 0, 1, 0, -0.466, -44.064, 0, 1); transform: matrix3d(1, -0.011, 0, 0, 0.011, 1, 0, 0, 0, 0, 1, 0, -0.466, -44.064, 0, 1); }
    41.37% { -webkit-transform: matrix3d(1, -0.009, 0, 0, 0.009, 1, 0, 0, 0, 0, 1, 0, -0.419, -48.991, 0, 1); transform: matrix3d(1, -0.009, 0, 0, 0.009, 1, 0, 0, 0, 0, 1, 0, -0.419, -48.991, 0, 1); }
    41.71% { -webkit-transform: matrix3d(1, -0.008, 0, 0, 0.008, 1, 0, 0, 0, 0, 1, 0, -0.4, -50.126, 0, 1); transform: matrix3d(1, -0.008, 0, 0, 0.008, 1, 0, 0, 0, 0, 1, 0, -0.4, -50.126, 0, 1); }
    42.42% { -webkit-transform: matrix3d(1, -0.007, 0, 0, 0.007, 1, 0, 0, 0, 0, 1, 0, -0.357, -51.886, 0, 1); transform: matrix3d(1, -0.007, 0, 0, 0.007, 1, 0, 0, 0, 0, 1, 0, -0.357, -51.886, 0, 1); }
    44.34% { -webkit-transform: matrix3d(1, -0.005, 0, 0, 0.005, 1, 0, 0, 0, 0, 1, 0, -0.244, -53.609, 0, 1); transform: matrix3d(1, -0.005, 0, 0, 0.005, 1, 0, 0, 0, 0, 1, 0, -0.244, -53.609, 0, 1); }
    44.44% { -webkit-transform: matrix3d(1, -0.004, 0, 0, 0.004, 1, 0, 0, 0, 0, 1, 0, -0.238, -53.616, 0, 1); transform: matrix3d(1, -0.004, 0, 0, 0.004, 1, 0, 0, 0, 0, 1, 0, -0.238, -53.616, 0, 1); }
    44.51% { -webkit-transform: matrix3d(1, -0.004, 0, 0, 0.004, 1, 0, 0, 0, 0, 1, 0, -0.233, -53.171, 0, 1); transform: matrix3d(1, -0.004, 0, 0, 0.004, 1, 0, 0, 0, 0, 1, 0, -0.233, -53.171, 0, 1); }
    46.67% { -webkit-transform: matrix3d(1, -0.003, 0, 0, 0.003, 1, 0, 0, 0, 0, 1, 0, -0.082, -31.15, 0, 1); transform: matrix3d(1, -0.003, 0, 0, 0.003, 1, 0, 0, 0, 0, 1, 0, -0.082, -31.15, 0, 1); }
    48.84% { -webkit-transform: matrix3d(1, -0.001, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, -0.01, -6.944, 0, 1); transform: matrix3d(1, -0.001, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, -0.01, -6.944, 0, 1); }
    50.07% { -webkit-transform: matrix3d(1, -0.001, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, 0.003, 3.356, 0, 1); transform: matrix3d(1, -0.001, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, 0.003, 3.356, 0, 1); }
    51.06% { -webkit-transform: matrix3d(1, -0.001, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, 0.007, 9.081, 0, 1); transform: matrix3d(1, -0.001, 0, 0, 0.001, 1, 0, 0, 0, 0, 1, 0, 0.007, 9.081, 0, 1); }
    53.23% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.004, 13.85, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.004, 13.85, 0, 1); }
    55.56% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 10.573, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 10.573, 0, 1); }
    55.63% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 10.386, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 10.386, 0, 1); }
    55.79% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 9.982, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 9.982, 0, 1); }
    58.29% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 3.084, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 3.084, 0, 1); }
    60.85% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.971, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.971, 0, 1); }
    63.35% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -3.459, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -3.459, 0, 1); }
    63.89% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -3.401, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -3.401, 0, 1); }
    68.41% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.732, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.732, 0, 1); }
    73.42% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.87, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.87, 0, 1); }
    83.54% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.218, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.218, 0, 1); }
    93.66% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.055, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.055, 0, 1); }
    100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}