/* ================== Colors ================== */
// Primary

$clr-softBlue: hsl(231, 69%, 60%);
$clr-softRed: hsl(0, 94%, 66%);

// Neutral

$clr-grayishBlue: hsl(229, 8%, 60%);
$clr-veryDarkBlue: hsl(229, 31%, 21%);
$clr-white: #fff;

/* ================ Typography ================ */
// Font Family

$ff-rubik: 'Rubik', sans-serif;

// Font Weight

$fw-400: 400;
$fw-500: 500;
