/* ======================== Colors ======================== */

// ### Primary
$clr-white: hsl(0, 0%, 100%);
$clr-black: hsl(0, 0%, 0%);
$clr-darkGray: hsl(0, 0%, 55%);
$clr-veryDarkGray: hsl(0, 0%, 41%);

/* ======================== Typography ======================== */

$ff-alata: 'Alata', sans-serif;
$ff-josefinSans: 'Josefin Sans', sans-serif;

// ### Font-Sizes
$fs-body: .9375rem; // 15px


// ### Font-Weights
$fw-regular: 400;
$fw-light: 300;