footer {
    background-color: hsla(243, 87%, 12%, 1);
    padding: 65px 0 39px 11.2vw;

    @include breakpoint-up(large) {
        padding: 92px 0 86px 5.55555vw;
    }

    @include breakpoint-up(larger) {
        padding: 92px 261px 86px 5.55555vw;
    }

    @include breakpoint-up(extralarge) {
        padding: 92px 9vw 86px;
    }

    .footer__logo {
        display: inline-block;
        height: 1.875rem; // 30px
        width: 6.5625rem; // 105px
        margin-bottom: 32px;

        &:focus-visible {
            outline: 2px dashed hsla(343, 84%, 61%, 1);
            outline-offset: 3px;
        }

        @include breakpoint-up(large) {
            height: 2.4375rem; // 39px
            width: 8.4375rem; // 135px
            margin-bottom: 36px;
        }

        svg {
            @include breakpoint-up(large) {
                height: 2.4375rem; // 39px
                width: 8.4375rem; // 135px
            }

            g {
                path {
                    fill: #fff;
                }
            }
        }
    }

    .footer__columns {
        display: flex;
        flex-direction: column;
        gap: 32px;

        @include breakpoint-up(large) {
            flex-direction: row;
            gap: 8vw;
        }

        @include breakpoint-up(larger) {
            gap: unset;
            justify-content: space-between;
        }

        a, p {
            color: #fff;
        }

        a {
            &:hover, &:focus-visible {
                color: $clr-brightBlue;
            }
        }
    
        .col-1 {
            display: flex;
            flex-direction: column;
            gap: 16px;

            @include breakpoint-up(large) {
                gap: 15px;
            }

            div {
                display: flex;
                align-items: center;
                gap: 16px;
            }
        }
    
        nav ul {
            display: grid;
            row-gap: 16px;
            grid-template-rows: 1fr 1fr 1fr 1fr 32px 1fr 1fr 1fr;

            li:first-of-type {
                grid-row: 1;
            }

            li:nth-of-type(2) {
                grid-row: 2;
            }

            li:nth-of-type(3) {
                grid-row: 3;
            }

            li:nth-of-type(4) {
                grid-row: 4;
            }

            li:nth-of-type(5) {
                grid-row: 6;
            }

            li:nth-of-type(6) {
                grid-row: 7;
            }

            li:last-of-type {
                grid-row: 8;
            }

            @include breakpoint-up(large) {
                grid-template-columns: 1fr 7vw 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr;

                li:first-of-type,
                li:nth-of-type(2),
                li:nth-of-type(3),
                li:nth-of-type(4) {
                    grid-column: 1;
                }

                li:nth-of-type(5),
                li:nth-of-type(6),
                li:last-of-type {
                    grid-column: 3;
                }

                li:first-of-type {
                    grid-row: 1;
                }

                li:nth-of-type(2) {
                    grid-row: 2;
                }

                li:nth-of-type(3) {
                    grid-row: 3;
                }

                li:nth-of-type(4) {
                    grid-row: 4;
                }

                li:nth-of-type(5) {
                    grid-row: 1;
                }

                li:nth-of-type(6) {
                    grid-row: 2;
                }

                li:last-of-type {
                    grid-row: 3;
                }
            }

            @include breakpoint-up(larger) {
                grid-template-columns: 1fr 200px 1fr;
            }
        }
    
        .col-4 {
            display: flex;
            justify-content: center;
            gap: 9.84px;
            margin-left: -11.2vw;

            @include breakpoint-up(large) {
                margin-left: 0;
                gap: 11.35px;
            }

            li{
                a {
                    border: 0.795909px solid #DFE4F0;
                    border-radius: 100%;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    height: 1.6875rem; // 27px
                    width: 1.6875rem; // 27px

                    @include breakpoint-up(large) {
                        width: 2rem; // 32px
                        height: 2rem; // 32px
                    }

                    &:hover, &:focus-visible {
                        border: 0.795909px solid $clr-brightBlue;
                    }
                }
            }    
        }
    }
}

a {
    &:focus-visible {
        outline: 2px dashed hsla(343, 84%, 61%, 1);
        outline-offset: 3px;
    }
}